*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFE9;
}

.container-first{
    position: absolute;
    background-image:url('../assets/postive-caring-relationships-teachers\ 1.png') ;
    background-size: 100% 530px;
    top: 152px;
}