*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-first{
    position: absolute;
    background-image:url(../assets/about_bg.png) ;
    background-size: 100% 530px;
    top: 152px;
}