.select_box {
  overflow: hidden;
  position: relative;
  padding: 10px 0;
}
.select_box:after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  top: 55%;
  right: 5px;
  content: "";
  z-index: 98;
}
.select_box select {
  position: relative;
  z-index: 99;
  background: none;
  padding: 0.5rem 1rem;
  appearance: none !important;
}

.select_box select ::-ms-expand {
  appearance: none !important;
  display: none !important;
}
